.input {
  padding: 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.7);
}

@media (max-width: 600px) {
  .input {
    margin-bottom: 10px;
    margin-right: 0;
  }
}
