.btn {
  padding: 10px 20px;
  background-color: var(--tc-clr-primary);
  color: var(--tc-clr-white);
  border: none;
  border-radius: 4px;
  font-size: var(--tc-font-medium);
  cursor: pointer;
  float: right;
  font-weight: 600;

  &:hover {
    background-color: var(--tc-clr-primary2);
  }
}

@media screen and (max-width: 600px) {
  .btn {
    width: 100%;
    margin-top: 0;
  }
}
