@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

.container {
  padding: 0px;
}
.widget {
  position: relative;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  background-color: #fcfdfd;
}

.forcast {
  font-size: 41px;
  color: rgba(0, 0, 0, 0.9);
  font-weight: 100;
}

.panel {
  background-color: #fcfdfd;
  padding: 25px;
  display: inline-block;
}

.title {
  font-weight: bold;
  font-size: 20px;
  width: 100%;
  height: 50px;
  background-color: #515e58;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  padding-top: 20px;
}

@media screen and (min-width: 601px) {
  .weatherCard {
    min-height: 250px;
    justify-content: stretch;
    background-color: #fcfdfd;
  }
}

@media screen and (max-width: 600px) {
  .container {
    padding: 0px;
    width: 90%; // hot fix, need to revist
  }
}
