.imageCard img {
  width: 100%;
}

.imageCard p {
  color: rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 600px) {
  .imageCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 100%;
    margin-top: 0;
  }
  .imageCard img {
    width: 360px;
    height: 240px;
  }
}
